.button {
  border: none;
  background-color: transparent;
  padding: 0 0 10px;
  outline: none;
  cursor: pointer;
  height: 60px;
  width: 60px;
  text-align: center;
}

.hatch {
  position: relative;
  left: 15px;
  height: 4px;
  width: 30px;
  border-radius: 3px;
  background-color: rgba(116, 116, 116, 0.842);
  margin: 4px 0;
  transition: 0.1s;
  transform-origin: 0 0;
}

.open .hatch {
  transition: 0.1s;
}

.open .hatch:first-child {
  transform: rotate(-45deg) translateY(6px) translateX(-8px);
  width: 15px;
}

.open .hatch:last-child {
  transform: rotate(45deg) translateY(-7px) translateX(-5px);
  width: 15px;
}
