.header {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  max-width: 1000px;
}