@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

html {
  min-width: 300px;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

.wrapper {
  margin: 0 auto;
  max-width: 1020px;
}
